body {
    margin: 0;
}

.indicator-container {
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    padding: 20px;
}

.indicator {
    /* width: 100px;
    height: 100px; */
    /* border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center; */
    /* border-radius: 50%; */
    /* background-color: lightblue;
    transition: transform 0.3s ease-in-out; */
}

button:disabled {
    opacity: .6;
    cursor: not-allowed;
}

nav h2 {
    margin: 0 0 0 10px;
}

.nav {

}

.nav .connectButtonContainer {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding: 5px;
}

.nav .connectButtonContainer button {
    color: black;
    background-color: gray;
    margin-bottom: 5px;
    border: 1px solid black;
}

.nav .connectButtonContainer button:hover {   
    /* cursor: pointer; */
}

.droneView {
    display: flex;
    flex-direction: column;
}

.droneView video {
    max-width: 600px;
    border: 2px solid black;
}

.mapView {
    min-width: 40vw;
}

.connectedView {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}